Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

Removing release workflow (#53)
  .github/release-drafter-template.yml
  .github/workflows/release-drafter.yml
Labels: github-actions

TAG[0.2.6.dev1] created, Bumping version: [0.2.6.dev1 → 0.2.6.dev2]
  src/hckr/__about__.py
Labels: enhancement, release

release-template: added
  .github/bkp/qodana.yml
  .github/bkp/release.yml
  .github/release-drafter-template.yml
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: github-actions

TAG[0.2.6.dev2] created, Bumping version: [0.2.6.dev2 → 0.2.6.dev3]
  src/hckr/__about__.py
Labels: enhancement, release

release-template: added
  .github/bkp/autoupdate.yml
Labels: github-actions

Create SECURITY.md
  SECURITY.md
Labels: none

brew: adding dev utils
  README.md
  SECURITY.md
  dev/CONTRIBUTING.md
  dev/HOMEBREW.md
  dev/brew.sh
Labels: none

brew: adding dev utils
  dev/brew.sh
Labels: none

brew: sonar coverage added
  .github/workflows/build.yml
  sonar-project.properties
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
  sonar-project.properties
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
  pyproject.toml
Labels: project-config, github-actions

brew: sonar coverage added
  sonar-project.properties
Labels: none

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  pyproject.toml
Labels: project-config

brew: sonar coverage added
  .github/workflows/build.yml
  Makefile
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
  Makefile
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  sonar-project.properties
Labels: none

brew: sonar coverage added
  .github/workflows/build.yml
  sonar-project.properties
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

brew: sonar coverage added
  .github/workflows/build.yml
Labels: github-actions

Brew setup and sonar coverage setup (#54)
  .github/workflows/build.yml
  README.md
  SECURITY.md
  dev/CONTRIBUTING.md
  dev/HOMEBREW.md
  dev/brew.sh
  pyproject.toml
  sonar-project.properties
Labels: project-config, github-actions

TAG[0.2.6.dev3] created, Bumping version: [0.2.6.dev3 → 0.2.6.dev4]
  src/hckr/__about__.py
Labels: enhancement, release

org-move: done
  .github/workflows/build.yml
  README.md
  dev/CONTRIBUTING.md
  docs/source/conf.py
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/info.py
Labels: documentation, project-config, github-actions, enhancement

org-move: done
  docs/source/conf.py
  sonar-project.properties
Labels: documentation

Org move (#55)
  .github/workflows/build.yml
  README.md
  dev/CONTRIBUTING.md
  docs/source/conf.py
  pyproject.toml
  sonar-project.properties
  src/hckr/cli/__init__.py
  src/hckr/cli/info.py
Labels: documentation, project-config, github-actions, enhancement

TAG[0.2.6.dev4] created, Bumping version: [0.2.6.dev4 → 0.2.6.dev5]
  src/hckr/__about__.py
Labels: enhancement, release

readme: updated
  .github/workflows/build.yml
  README.md
Labels: github-actions

Update README.md
  README.md
Labels: none

readme: readthedocs added
  README.md
Labels: none

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**
