Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

Refactor error message formatting in info.py
  .github/workflows/build.yml
Labels: github-actions

Refactor error message formatting in info.py
  tests/cli/test_net.py
Labels: tests

Remove debug environment step and update test assertions
  .github/workflows/build.yml
  docker/test-ubuntu.sh
  tests/cli/test_info.py
Labels: tests, github-actions

Env variable commands (#72)
  .gitignore
  docker/Dockerfile
  docker/test-ubuntu.sh
  docs/source/commands/config/index.rst
  docs/source/commands/cron/index.rst
  docs/source/commands/crypto/index.rst
  docs/source/commands/database/index.rst
  docs/source/commands/env/env.rst
  docs/source/commands/env/index.rst
  docs/source/commands/index.rst
  docs/source/commands/info/index.rst
  docs/source/commands/info/info.rst
  docs/source/commands/k8s/index.rst
  docs/source/commands/net/index.rst
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/config.py
  src/hckr/cli/env.py
  src/hckr/cli/info.py
  src/hckr/utils/EnvUtils.py
  src/hckr/utils/MessageUtils.py
  src/hckr/utils/config/ConfigUtils.py
  tests/cli/test_cli.py
  tests/cli/test_config.py
  tests/cli/test_env.py
  tests/cli/test_info.py
Labels: documentation, tests, enhancement, release

TAG[0.4.0] created, Bumping version: [0.4.0 → 0.4.1.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

Use DEFAULT_PATTERN for env list command
  src/hckr/cli/env.py
  src/hckr/utils/EnvUtils.py
Labels: enhancement

Initialize Sentry SDK for error monitoring
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/utils/CliUtils.py
Labels: project-config, enhancement

Refactor logging levels and Info class
  src/hckr/cli/__init__.py
  src/hckr/cli/env.py
  src/hckr/utils/CliUtils.py
Labels: enhancement

Refactor logging levels and Info class
  src/hckr/utils/CliUtils.py
  src/hckr/utils/config/Constants.py
Labels: enhancement

Refactor logging levels and Info class
  src/hckr/utils/CliUtils.py
Labels: enhancement

Update version and modify publish workflow
  .github/workflows/publish.yml
  src/hckr/__about__.py
Labels: github-actions, enhancement, release

Update version and modify publish workflow
  .github/workflows/publish.yml
  src/hckr/__about__.py
Labels: github-actions, enhancement, release

Use DEFAULT_PATTERN for env list command (#73)
  .github/workflows/publish.yml
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/env.py
  src/hckr/utils/CliUtils.py
  src/hckr/utils/EnvUtils.py
  src/hckr/utils/config/Constants.py
Labels: project-config, github-actions, enhancement, release

TAG[0.5.0.dev0] created, Bumping version: [0.5.0.dev0 → 0.5.0.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

Refactor logging levels and Info class
  src/hckr/cli/config.py
  src/hckr/utils/config/ConfigUtils.py
  tests/cli/test_config.py
Labels: tests, enhancement

Add support for setting a default database configuration
  src/hckr/cli/configure.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Add config path option to handle custom config locations
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
  src/hckr/utils/config/ConfigureUtils.py
  src/hckr/utils/config/Constants.py
  tests/cli/resources/config/.hckrcfg
  tests/cli/test_config.py
  tests/cli/test_configure.py
  tests/conftest.py
Labels: tests, enhancement

Add utility functions for test configuration paths.
  README.md
  dev/CONTRIBUTING.md
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
  tests/cli/resources/config/.hckrcfg
  tests/cli/test_config.py
  tests/cli/test_db.py
  tests/conftest.py
  tests/testUtils.py
Labels: tests, enhancement

Add utility functions for test configuration paths.
  .gitignore
  src/hckr/utils/CliUtils.py
  tests/cli/resources/config/.hckrcfg
  tests/cli/test_config.py
  tests/cli/test_db.py
Labels: tests, enhancement

Improve default database configuration handling
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Refactor database utilities and enhance CLI query execution
  src/hckr/cli/db.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Refactor database utilities and enhance CLI query execution
  src/hckr/cli/db.py
  src/hckr/utils/DbUtils.py
Labels: enhancement

Enhance test_configure with additional imports and config listing
  tests/cli/test_configure.py
Labels: tests

Refactor: Remove unnecessary blank line in test file
  tests/cli/test_configure.py
Labels: tests

Update config references and improve command descriptions
  docs/source/commands/database/db.rst
  docs/source/commands/database/index.rst
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/utils/config/ConfigUtils.py
Labels: documentation, enhancement

Improve documentation for default database configuration
  src/hckr/cli/configure.py
Labels: enhancement

Refactor imports for readability in DbUtils and test_configure
  src/hckr/utils/DbUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Refactor import statements in test_configure.py
  tests/cli/test_configure.py
Labels: tests

Capitalize first word of configure command description
  tests/cli/test_cli.py
Labels: tests

Capitalize first word of configure command description
  src/hckr/cli/configure.py
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Update version to 0.5.0
  src/hckr/__about__.py
Labels: enhancement, release

Add click module and improve error formatting
  pyproject.toml
  src/hckr/utils/DbUtils.py
Labels: project-config, enhancement

Fix grammar in test comment
  tests/cli/resources/db/.gitkeep
  tests/cli/test_configure.py
Labels: tests

Remove redundant code in test_configure.py
  tests/cli/test_configure.py
Labels: tests

Default config support (#74)
  .gitignore
  README.md
  dev/CONTRIBUTING.md
  docs/source/commands/database/db.rst
  docs/source/commands/database/index.rst
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/CliUtils.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
  src/hckr/utils/config/ConfigureUtils.py
  src/hckr/utils/config/Constants.py
  tests/cli/resources/db/.gitkeep
  tests/cli/test_cli.py
  tests/cli/test_config.py
  tests/cli/test_configure.py
  tests/cli/test_db.py
  tests/conftest.py
  tests/testUtils.py
Labels: documentation, project-config, tests, enhancement, release

TAG[0.5.0] created, Bumping version: [0.5.0 → 0.6.0.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

Add logging of database connection URL
  src/hckr/cli/db.py
Labels: enhancement

Add dt command for datetime parsing and formatting
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/dt.py
Labels: project-config, enhancement

Update CONTRIBUTING.md
  dev/CONTRIBUTING.md
Labels: none

Add timezone utilities
  docs/source/commands/dt/dt.rst
  docs/source/commands/dt/index.rst
  docs/source/commands/index.rst
  src/hckr/cli/__init__.py
  src/hckr/cli/dt.py
  src/hckr/utils/TimeUtils.py
  tests/cli/test_cli.py
  tests/cli/test_dt.py
Labels: documentation, tests, enhancement

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**
