Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

Update CONTRIBUTING.md with Python setup details and refine Makefile's dev sync command
  Makefile
  dev/CONTRIBUTING.md
Labels: none

Refactor CONTRIBUTING guide, split publishing and docs into separate files, improve TimeUtils compatibility, and update test case formatting.
  dev/CONTRIBUTING.md
  dev/DOCS.md
  dev/PUBLISHING.md
  pyproject.toml
  src/hckr/utils/TimeUtils.py
  tests/cli/test_dt.py
Labels: project-config, tests, enhancement

Add zoneinfo backport dependency
  pyproject.toml
Labels: project-config

Update CONTRIBUTING.md with Python setup details and refine Makefile's dev sync command
  pyproject.toml
Labels: project-config

Add timezone helpers and improve dt command
  docs/source/commands/dt/index.rst
  src/hckr/cli/dt.py
  src/hckr/utils/TimeUtils.py
  tests/cli/test_dt.py
Labels: documentation, tests, enhancement

Update CONTRIBUTING.md with Python setup details and refine Makefile's dev sync command
  src/hckr/utils/TimeUtils.py
  tests/cli/test_dt.py
Labels: tests, enhancement

docs: add developer overview
  docs/source/developer/index.rst
  docs/source/index.rst
Labels: documentation

Azure: added
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/azure.py
  src/hckr/utils/AzureUtils.py
  src/hckr/utils/TimeUtils.py
  tests/utils/test_azure_utils.py
Labels: project-config, tests, enhancement

Refactor datetime format and add comprehensive documentation
  docs/source/commands/dt/dt.rst
  docs/source/commands/dt/index.rst
  src/hckr/cli/dt.py
Labels: documentation, enhancement

Azure: added
  src/hckr/cli/azure.py
Labels: enhancement

Azure: added
  src/hckr/cli/azure.py
Labels: enhancement

Azure: added
  docs/source/commands/azure/azure.rst
  docs/source/commands/azure/index.rst
  docs/source/commands/index.rst
  src/hckr/cli/azure.py
Labels: documentation, enhancement

Azure: added
  dev/PUBLISHING.md
Labels: none

Azure: added
  src/hckr/__about__.py
Labels: enhancement, release

Azure: added
  tests/cli/test_cli.py
Labels: tests

Azure: added
  src/hckr/cli/azure.py
  src/hckr/utils/AzureUtils.py
  src/hckr/utils/TimeUtils.py
  tests/utils/test_azure_utils.py
Labels: tests, enhancement

Azure: added
  src/hckr/cli/azure.py
  src/hckr/utils/AzureUtils.py
  src/hckr/utils/TimeUtils.py
Labels: enhancement

Azure: added
  src/hckr/utils/AzureUtils.py
Labels: enhancement

Azure: added
  Makefile
Labels: none

Azure: added
  tests/cli/test_azure.py
  tests/utils/test_azure_utils.py
Labels: tests

Add datetime and azure utilities (#78)
  Makefile
  dev/CONTRIBUTING.md
  dev/DOCS.md
  dev/PUBLISHING.md
  docs/source/commands/azure/azure.rst
  docs/source/commands/azure/index.rst
  docs/source/commands/dt/dt.rst
  docs/source/commands/dt/index.rst
  docs/source/commands/index.rst
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/azure.py
  src/hckr/cli/dt.py
  src/hckr/utils/AzureUtils.py
  src/hckr/utils/TimeUtils.py
  tests/cli/test_azure.py
  tests/cli/test_cli.py
  tests/cli/test_dt.py
Labels: documentation, project-config, tests, enhancement, release

TAG[0.6.0] created, Bumping version: [0.6.0 → 0.7.0.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**
