Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

Bump version: 0.2.2.dev0 → 0.2.2.dev1
  src/hckr/__about__.py
Labels: enhancement, release

build: fixes
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: github-actions

build: fixes
  .github/workflows/build.yml
Labels: github-actions

build: fixes
  Makefile
Labels: none

build: fixes
  Makefile
Labels: none

build: fixes
  Makefile
Labels: none

build: fixes
  .github/workflows/build.yml
Labels: github-actions

build: fixes
  .github/workflows/build.yml
Labels: github-actions

build: fixes
  .github/workflows/build.yml
Labels: github-actions

build: fixes (#31)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Makefile
Labels: github-actions

Tag 0.2.2.dev1 created, Bumping module version: 0.2.2.dev1 → 0.2.2.dev2
  src/hckr/__about__.py
Labels: enhancement, release

build: fixes
  .github/workflows/publish.yml
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/Account.csv
Labels: tests, github-actions, enhancement

build: Release 0.2.2 added
  src/hckr/__about__.py
Labels: enhancement, release

Data peek fixes (#34)
  .github/workflows/publish.yml
  src/hckr/__about__.py
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/Account.csv
Labels: tests, github-actions, enhancement, release

TAG[0.2.2] created, Bumping version: [0.2.2 → 0.2.3.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

build: json lines support added
  src/hckr/cli/data.py
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/json-lines.json
Labels: tests, enhancement, data

build: json lines support added
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
Labels: tests, enhancement

build: Release 0.2.3 added
  src/hckr/__about__.py
Labels: enhancement, release

Adding support for jsonlines (#35)
  src/hckr/__about__.py
  src/hckr/cli/data.py
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/json-lines.json
Labels: tests, enhancement, release, data

TAG[0.2.3] created, Bumping version: [0.2.3 → 0.2.4.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

quodana: setup done
  .github/workflows/qodana.yml
Labels: github-actions

quodana: setup done (#36)
  .github/workflows/qodana.yml
Labels: github-actions

TAG[0.2.4.dev0] created, Bumping version: [0.2.4.dev0 → 0.2.4.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

sonar: setup done
  sonar-project.properties
Labels: none

sonar: setup done
  .github/workflows/build.yml
Labels: github-actions

sonar: setup done
  .github/workflows/build.yml
Labels: github-actions

sonar: setup done
  .github/workflows/build.yml
Labels: github-actions

Sonar setup (#37)
  .github/workflows/build.yml
  sonar-project.properties
Labels: github-actions

TAG[0.2.4.dev1] created, Bumping version: [0.2.4.dev1 → 0.2.4.dev2]
  src/hckr/__about__.py
Labels: enhancement, release

auto-version: update added
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/utils/CliUtils.py
Labels: project-config, enhancement

auto-version: release added
  src/hckr/__about__.py
Labels: enhancement, release

auto-version: release added
  pyproject.toml
Labels: project-config

auto-version: update added (#38)
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/utils/CliUtils.py
Labels: project-config, enhancement, release

TAG[0.2.4] created, Bumping version: [0.2.4 → 0.2.5.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

automatic: release added
  .github/workflows/release.yml
  src/hckr/cli/info.py
  src/hckr/utils/CliUtils.py
Labels: github-actions, enhancement

automatic: release added
  .github/workflows/release.yml
Labels: github-actions

automatic: release added
  .github/workflows/release.yml
Labels: github-actions

Automatic releases (#42)
  .github/workflows/release.yml
  src/hckr/cli/info.py
  src/hckr/utils/CliUtils.py
Labels: github-actions, enhancement

TAG[0.2.5.dev0] created, Bumping version: [0.2.5.dev0 → 0.2.5.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

automatic: release added
  Makefile
  pyproject.toml
  requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-docs.txt
Labels: project-config

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**
