Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**

k8s: pr fixes
  tests/cli/crypto/fernet/test_fernet_encrypt.py
Labels: tests

k8s: pr fixes
  src/hckr/__about__.py
Labels: enhancement, release

K8s support (#58)
  .github/workflows/auto-assign.yml
  .grazie.en.yaml
  Makefile
  docs/source/_static/logo-extended.png
  docs/source/index.rst
  docs/source/k8s/context.rst
  docs/source/k8s/index.rst
  docs/source/k8s/namespace.rst
  docs/source/k8s/pod.rst
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/__init__.py
  src/hckr/cli/k8s/context.py
  src/hckr/cli/k8s/namespace.py
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/CronUtils.py
  src/hckr/utils/k8s/K8sUtils.py
  src/hckr/utils/k8s/PodUtils.py
  tests/cli/crypto/fernet/test_fernet_encrypt.py
  tests/cli/k8s/test_context.py
  tests/cli/k8s/test_namespace.py
  tests/cli/k8s/test_pod.py
  tests/cli/test_cli.py
Labels: documentation, project-config, tests, github-actions, enhancement, release

TAG[0.3.0] created, Bumping version: [0.3.0 → 0.3.1.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

k8s: brew and docs fixes
  dev/HOMEBREW.md
  dev/brew.sh
  docs/source/k8s/context.rst
  docs/source/k8s/namespace.rst
  docs/source/k8s/pod.rst
  src/hckr/utils/CliUtils.py
Labels: documentation, enhancement

pr: fixes
  src/hckr/utils/CliUtils.py
Labels: enhancement

k8s: pod shell added
  tests/cli/k8s/test_namespace.py
  tests/cli/k8s/test_pod.py
Labels: tests

k8s: pod shell added
  src/hckr/__about__.py
Labels: enhancement, release

k8s: pod shell added
  src/hckr/__about__.py
Labels: enhancement, release

Brew Update and doc fixes (#59)
  dev/HOMEBREW.md
  dev/brew.sh
  docs/source/k8s/context.rst
  docs/source/k8s/namespace.rst
  docs/source/k8s/pod.rst
  src/hckr/utils/CliUtils.py
  tests/cli/k8s/test_namespace.py
  tests/cli/k8s/test_pod.py
Labels: documentation, tests, enhancement

TAG[0.3.1.dev0] created, Bumping version: [0.3.1.dev0 → 0.3.1.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

Rename LICENSE.txt to LICENSE and update SECURITY.md
  LICENSE
  LICENSE.txt
  SECURITY.md
Labels: none

Add documentation for shell completion and installation
  docs/source/commands/index.rst
  docs/source/index.rst
  docs/source/setup/index.rst
  docs/source/setup/shell_completion.rst
Labels: documentation

Refactor documentation structure
  docs/source/commands/cron.rst
  docs/source/commands/crypto/fernet.rst
  docs/source/commands/data.rst
  docs/source/commands/hash.rst
  docs/source/commands/index.rst
  docs/source/commands/info.rst
  docs/source/commands/k8s/context.rst
  docs/source/commands/k8s/namespace.rst
  docs/source/commands/k8s/pod.rst
  docs/source/crypto/index.rst
  docs/source/index.rst
  docs/source/k8s/index.rst
Labels: documentation

Enhance shell completion documentation
  docs/source/setup/shell_completion.rst
Labels: documentation

Shell completion added (#60)
  LICENSE
  LICENSE.txt
  SECURITY.md
  docs/source/commands/cron.rst
  docs/source/commands/crypto/fernet.rst
  docs/source/commands/data.rst
  docs/source/commands/hash.rst
  docs/source/commands/index.rst
  docs/source/commands/info.rst
  docs/source/commands/k8s/context.rst
  docs/source/commands/k8s/namespace.rst
  docs/source/commands/k8s/pod.rst
  docs/source/crypto/index.rst
  docs/source/index.rst
  docs/source/k8s/index.rst
  docs/source/setup/index.rst
  docs/source/setup/shell_completion.rst
Labels: documentation

Add installation section reference in documentation
  docs/source/index.rst
  docs/source/setup/index.rst
Labels: documentation

Shell completion (#62)
  docs/source/index.rst
  docs/source/setup/index.rst
Labels: documentation

Reorganize documentation structure by adding index files
  docs/source/commands/cron/cron.rst
  docs/source/commands/cron/index.rst
  docs/source/commands/crypto/index.rst
  docs/source/commands/data/data.rst
  docs/source/commands/data/index.rst
  docs/source/commands/hash/hash.rst
  docs/source/commands/hash/index.rst
  docs/source/commands/index.rst
  docs/source/commands/k8s/index.rst
  docs/source/commands/others/index.rst
  docs/source/commands/others/info.rst
  docs/source/index.rst
Labels: documentation

net: speed test added
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/net.py
  src/hckr/utils/NetUtils.py
  tests/cli/test_net.py
Labels: project-config, tests, enhancement

Add `net` section with IP address fetching command
  docs/source/commands/index.rst
  docs/source/commands/net/index.rst
  docs/source/commands/net/net.rst
  src/hckr/cli/net.py
  src/hckr/utils/NetUtils.py
  tests/cli/test_net.py
Labels: documentation, tests, enhancement

Update version to 0.3.1
  src/hckr/__about__.py
Labels: enhancement, release

Add type ignore comments for imports
  src/hckr/cli/net.py
Labels: enhancement

Add network commands to CLI tests
  tests/cli/test_cli.py
Labels: tests

Apply suggestions from code review
  src/hckr/utils/NetUtils.py
Labels: enhancement

Refactor imports and adjust whitespace
  src/hckr/utils/NetUtils.py
  tests/cli/test_net.py
Labels: tests, enhancement

Remove macOS from build matrix
  .github/workflows/build.yml
Labels: github-actions

Network commands (#65)
  .github/workflows/build.yml
  docs/source/commands/cron/cron.rst
  docs/source/commands/cron/index.rst
  docs/source/commands/crypto/index.rst
  docs/source/commands/data/data.rst
  docs/source/commands/data/index.rst
  docs/source/commands/hash/hash.rst
  docs/source/commands/hash/index.rst
  docs/source/commands/index.rst
  docs/source/commands/k8s/index.rst
  docs/source/commands/net/index.rst
  docs/source/commands/net/net.rst
  docs/source/commands/others/index.rst
  docs/source/commands/others/info.rst
  docs/source/index.rst
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/net.py
  src/hckr/utils/NetUtils.py
  tests/cli/test_cli.py
  tests/cli/test_net.py
Labels: documentation, project-config, tests, github-actions, enhancement, release

TAG[0.3.1] created, Bumping version: [0.3.1 → 0.3.2.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

Update network stats display with consistent icons and titles
  src/hckr/cli/net.py
Labels: enhancement

Update version to 0.3.2
  src/hckr/__about__.py
Labels: enhancement, release

Comment out debug print statement in test_net.py
  tests/cli/test_net.py
Labels: tests

Update network stats display with consistent icons and titles (#66)
  src/hckr/__about__.py
  src/hckr/cli/net.py
  tests/cli/test_net.py
Labels: tests, enhancement, release

TAG[0.3.2] created, Bumping version: [0.3.2 → 0.3.3.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

Add YAML config file support
  pyproject.toml
  src/hckr/cli/__init__.py
Labels: project-config, enhancement

Add configuration command group with set and get functionalities
  src/hckr/cli/configure.py
  src/hckr/utils/ConfigUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Refactor configuration management and add DB config command
  src/hckr/cli/__init__.py
  src/hckr/cli/configure.py
  src/hckr/utils/ConfigUtils.py
Labels: enhancement

Add database utilities and commands
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/ConfigUtils.py
  src/hckr/utils/DbUtils.py
  tests/cli/test_configure.py
Labels: project-config, tests, enhancement

Add config command group and enhance database configuration
  src/hckr/cli/__init__.py
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/utils/ConfigUtils.py
Labels: enhancement

Update DB config handling and fix import errors
  pyproject.toml
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/ConfigUtils.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/FileUtils.py
Labels: project-config, enhancement
