Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**

readme: readthedocs added
  docs/source/_templates/components/nav-versions.html
  pyproject.toml
Labels: documentation, project-config

readme: readthedocs added
  Makefile
  pyproject.toml
Labels: project-config

readme: readthedocs added
  Makefile
  pyproject.toml
Labels: project-config

readme: readthedocs added
  Makefile
Labels: none

readme: readthedocs added
  pyproject.toml
Labels: project-config

readme: readthedocs added
  .gitignore
  Makefile
  pyproject.toml
Labels: project-config

comment added
  Makefile
Labels: none

comment added
  docs/source/_templates/partials/foot-socials.html
  docs/source/conf.py
Labels: documentation

Readme fix (#56)
  .github/workflows/build.yml
  .gitignore
  Makefile
  README.md
  docs/source/_templates/components/nav-versions.html
  docs/source/_templates/partials/foot-socials.html
  docs/source/conf.py
  pyproject.toml
Labels: documentation, project-config, github-actions

TAG[0.2.6.dev5] created, Bumping version: [0.2.6.dev5 → 0.2.6.dev6]
  src/hckr/__about__.py
Labels: enhancement, release

comment added
  docs/source/_static/logo-extended.png
Labels: documentation

Update README.md
  README.md
Labels: none

art: removed
  pyproject.toml
  src/hckr/cli/__init__.py
Labels: project-config, enhancement

k8s: adding
  Makefile
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/__init__.py
  src/hckr/cli/k8s/show.py
  src/hckr/utils/K8sUtils.py
  tests/cli/k8s/test_k8s.py
Labels: tests, enhancement

k8s: tests added
  src/hckr/cli/k8s/show.py
  src/hckr/utils/K8sUtils.py
  tests/cli/k8s/test_k8s.py
Labels: tests, enhancement

k8s: tests added
  .grazie.en.yaml
  Makefile
  pyproject.toml
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/show.py
  src/hckr/utils/CronUtils.py
  src/hckr/utils/K8sUtils.py
  tests/cli/k8s/test_k8s.py
Labels: project-config, tests, enhancement

k8s: tests added
  src/hckr/cli/k8s/show.py
  src/hckr/utils/K8sUtils.py
Labels: enhancement

k8s: tests added
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/__init__.py
  src/hckr/cli/k8s/context.py
  src/hckr/cli/k8s/namespace.py
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/K8sUtils.py
Labels: enhancement

k8s: tests added
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/K8sUtils.py
Labels: enhancement

k8s: delete pod added
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/K8sUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/K8sUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/context.py
  src/hckr/cli/k8s/namespace.py
  src/hckr/cli/k8s/pod.py
  src/hckr/cli/k8s/show.py
  src/hckr/utils/K8sUtils.py
  src/hckr/utils/k8s/K8sUtils.py
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod logs added
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod logs added
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod logs added
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: pod shell added
  src/hckr/cli/k8s/__init__.py
  src/hckr/cli/k8s/context.py
  src/hckr/cli/k8s/namespace.py
  src/hckr/cli/k8s/pod.py
  src/hckr/utils/CronUtils.py
  src/hckr/utils/k8s/K8sUtils.py
  src/hckr/utils/k8s/PodUtils.py
Labels: enhancement

k8s: workflow added
  .github/workflows/auto-assign.yml
Labels: github-actions

k8s: docs added
  docs/source/index.rst
  docs/source/k8s/context.rst
  docs/source/k8s/index.rst
  docs/source/k8s/namespace.rst
  docs/source/k8s/pod.rst
Labels: documentation

k8s: docs added
  tests/cli/k8s/test_context.py
Labels: tests

k8s: namespace added
  src/hckr/cli/k8s/namespace.py
  src/hckr/utils/k8s/K8sUtils.py
  tests/cli/k8s/test_namespace.py
Labels: tests, enhancement

k8s: namespace added
  tests/cli/k8s/test_context.py
  tests/cli/k8s/test_namespace.py
Labels: tests

k8s: test added
  tests/cli/k8s/test_k8s.py
  tests/cli/k8s/test_pod.py
Labels: tests

k8s: test added
  tests/cli/k8s/test_pod.py
Labels: tests

k8s: test added
  tests/cli/k8s/test_context.py
  tests/cli/k8s/test_namespace.py
Labels: tests

k8s: pr fixes
  src/hckr/cli/k8s/namespace.py
  src/hckr/utils/k8s/K8sUtils.py
  src/hckr/utils/k8s/PodUtils.py
  tests/cli/k8s/test_context.py
  tests/cli/k8s/test_namespace.py
  tests/cli/k8s/test_pod.py
Labels: tests, enhancement

k8s: pr fixes
  src/hckr/cli/__init__.py
  src/hckr/cli/k8s/context.py
  src/hckr/cli/k8s/namespace.py
  tests/cli/test_cli.py
Labels: tests, enhancement
