Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**

Add initialization command for config and refactor tests
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/utils/ConfigUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Add initialization command for config and refactor tests
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/utils/ConfigUtils.py
  src/hckr/utils/MessageUtils.py
  tests/cli/test_configure.py
Labels: tests, enhancement

Refactor database configuration, enhance tests, add logging
  src/hckr/cli/__init__.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/ConfigUtils.py
  src/hckr/utils/DbUtils.py
  tests/cli/test_config.py
Labels: tests, enhancement

Refactor query command to return and display DataFrame
  src/hckr/cli/db.py
Labels: enhancement

Enhance table printing in `print_df_as_table`
  src/hckr/cli/db.py
  src/hckr/utils/DataUtils.py
Labels: enhancement

Add options for number of rows and columns to query command.
  src/hckr/cli/db.py
Labels: enhancement

Refactor message logging and remove redundant tests
  .gitignore
  src/hckr/__about__.py
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/FileUtils.py
  src/hckr/utils/MessageUtils.py
  src/hckr/utils/config/ConfigUtils.py
  src/hckr/utils/config/ConfigureUtils.py
  src/hckr/utils/config/Constants.py
  tests/cli/test_cli.py
  tests/cli/test_configure.py
  tests/cli/test_db.py
  tests/conftest.py
Labels: tests, enhancement, release

Update src/hckr/cli/config.py
  src/hckr/cli/config.py
Labels: enhancement

Remove error exits and improve config CLI documentation
  src/hckr/cli/config.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Refactor query handling and remove unused imports
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/config/ConfigUtils.py
  src/hckr/utils/config/ConfigureUtils.py
Labels: enhancement

Remove redundant import statement from config.py
  src/hckr/cli/config.py
Labels: enhancement

Add comprehensive configuration documentation and examples
  docs/source/commands/config/config.rst
  docs/source/commands/config/configure.rst
  docs/source/commands/config/index.rst
  docs/source/commands/index.rst
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
Labels: documentation, enhancement

Add database command documentation and examples
  docs/source/commands/config/configure.rst
  docs/source/commands/database/db.rst
  docs/source/commands/database/index.rst
  docs/source/commands/index.rst
  src/hckr/cli/db.py
Labels: documentation, enhancement

Refactor CLI tests to use cli_runner fixture
  tests/cli/test_config.py
Labels: tests

Update sonar exclusions to ignore specific Python files
  sonar-project.properties
Labels: none

Adding Config and db query Support (#71)
  .gitignore
  docs/source/commands/config/config.rst
  docs/source/commands/config/configure.rst
  docs/source/commands/config/index.rst
  docs/source/commands/database/db.rst
  docs/source/commands/database/index.rst
  docs/source/commands/index.rst
  pyproject.toml
  sonar-project.properties
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/config.py
  src/hckr/cli/configure.py
  src/hckr/cli/db.py
  src/hckr/utils/DataUtils.py
  src/hckr/utils/DbUtils.py
  src/hckr/utils/FileUtils.py
  src/hckr/utils/MessageUtils.py
  src/hckr/utils/config/ConfigUtils.py
  src/hckr/utils/config/ConfigureUtils.py
  src/hckr/utils/config/Constants.py
  tests/cli/test_cli.py
  tests/cli/test_config.py
  tests/cli/test_configure.py
  tests/cli/test_db.py
  tests/conftest.py
Labels: documentation, project-config, tests, enhancement, release

TAG[0.4.0.dev0] created, Bumping version: [0.4.0.dev0 → 0.4.0.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

Add environment command group to CLI
  src/hckr/cli/__init__.py
  src/hckr/cli/env.py
  src/hckr/utils/EnvUtils.py
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Simplify environment variable handling and refine messages
  src/hckr/cli/env.py
  src/hckr/utils/EnvUtils.py
  src/hckr/utils/MessageUtils.py
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Add new environment command documentation and enhancements
  .gitignore
  docs/source/commands/env/env.rst
  docs/source/commands/env/index.rst
  docs/source/commands/index.rst
  src/hckr/cli/env.py
  src/hckr/utils/EnvUtils.py
Labels: documentation, enhancement

Refactor and relocate env commands to info command group
  src/hckr/cli/env.py
  src/hckr/cli/info.py
  src/hckr/utils/EnvUtils.py
Labels: enhancement

Refactor CLI commands and update documentation
  docs/source/commands/config/index.rst
  docs/source/commands/cron/index.rst
  docs/source/commands/crypto/index.rst
  docs/source/commands/data/index.rst
  docs/source/commands/database/index.rst
  docs/source/commands/env/index.rst
  docs/source/commands/hash/index.rst
  docs/source/commands/index.rst
  docs/source/commands/info/index.rst
  docs/source/commands/info/info.rst
  docs/source/commands/k8s/index.rst
  docs/source/commands/net/index.rst
  src/hckr/cli/__init__.py
  src/hckr/cli/config.py
  src/hckr/cli/env.py
  src/hckr/cli/info.py
  src/hckr/utils/EnvUtils.py
  tests/cli/test_env.py
  tests/cli/test_info.py
Labels: documentation, tests, enhancement

Rename 'show' command to 'list' and add 'env' command.
  src/hckr/cli/config.py
  src/hckr/cli/env.py
  tests/cli/test_cli.py
  tests/cli/test_config.py
Labels: tests, enhancement

Bump version to 0.4.0 and update config documentation
  docs/source/commands/config/index.rst
  src/hckr/__about__.py
Labels: documentation, enhancement, release

Remove shell_type from default configuration
  src/hckr/utils/config/ConfigUtils.py
Labels: enhancement

Apply suggestions from code review
  src/hckr/utils/EnvUtils.py
  tests/cli/test_env.py
Labels: tests, enhancement

Disable failing test_info_shell in test_info.py
  tests/cli/test_info.py
Labels: tests

Disable failing test_info_shell in test_info.py
  tests/cli/test_info.py
Labels: tests

Reinstate test_info_shell and add Docker setup
  docker/Dockerfile
  docker/test-ubuntu.sh
  tests/cli/test_info.py
Labels: tests

Add debugging step to build workflow
  .github/workflows/build.yml
Labels: github-actions

Remove unnecessary shell change command from CI workflow
  .github/workflows/build.yml
Labels: github-actions

Simplify build script output
  .github/workflows/build.yml
Labels: github-actions

Refactor message utilities in info CLI module
  src/hckr/cli/info.py
Labels: enhancement

Refactor message utilities in info CLI module
  .github/workflows/build.yml
Labels: github-actions

Refactor shell information retrieval and fix test setup.
  src/hckr/cli/info.py
  tests/cli/test_info.py
Labels: tests, enhancement

Handle missing $SHELL environment variable
  src/hckr/cli/info.py
  tests/cli/test_info.py
Labels: tests, enhancement

Refactor error message formatting in info.py
  src/hckr/cli/info.py
Labels: enhancement

Refactor error message formatting in info.py
  tests/cli/test_net.py
Labels: tests

Refactor error message formatting in info.py
  tests/cli/test_info.py
Labels: tests

Refactor error message formatting in info.py
  tests/cli/test_env.py
Labels: tests
