Repository hckr-cli/hckr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, project-config, tests, github-actions, enhancement, release, crypto, cron, data, hash, utils

automatic: release added
  requirements/requirements-dev.txt
Labels: none

Dependency mgmt for dependabot (#43)
  Makefile
  pyproject.toml
  requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-docs.txt
Labels: project-config

TAG[0.2.5.dev1] created, Bumping version: [0.2.5.dev1 → 0.2.5.dev2]
  src/hckr/__about__.py
Labels: enhancement, release

automatic: release added
  .github/workflows/release.yml
Labels: github-actions

Automatic releases (#44)
  .github/workflows/release.yml
Labels: github-actions

TAG[0.2.5.dev2] created, Bumping version: [0.2.5.dev2 → 0.2.5.dev3]
  src/hckr/__about__.py
Labels: enhancement, release

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

py38: issues fixing
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Makefile
  docs/hatch-env-docs-requirements-sync.py
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-docs.txt
Labels: documentation, project-config, github-actions

Update dependabot.yml
  .github/dependabot.yml
Labels: github-actions

py38: issues fixing
  Makefile
  pyproject.toml
  requirements/requirements-dev.txt
  requirements/requirements-docs.txt
Labels: project-config

py38: issues fixing
  pyproject.toml
Labels: project-config

py38: issues fixing
  .github/workflows/build.yml
Labels: github-actions

py38: issues fixing
  pyproject.toml
Labels: project-config

py38: issues fixing
  .github/workflows/build.yml
Labels: github-actions

py38: issues fixing (#45)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  Makefile
  docs/hatch-env-docs-requirements-sync.py
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  requirements/requirements-dev.txt
  requirements/requirements-docs.txt
Labels: documentation, project-config, github-actions

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

automatic: fixing
  .github/workflows/release.yml
Labels: github-actions

tsv: added
  src/hckr/utils/DataUtils.py
  src/hckr/utils/FileUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/input.tsv
Labels: tests, enhancement

tsv: added
  src/hckr/__about__.py
Labels: enhancement, release

tsv: added
  .gitignore
  src/hckr/cli/data.py
  src/hckr/utils/DataUtils.py
  src/hckr/utils/FileUtils.py
  tests/cli/data/test_faker.py
  tests/cli/data/test_peek.py
Labels: tests, enhancement, data

tsv: art added
  pyproject.toml
  src/hckr/cli/__init__.py
Labels: project-config, enhancement

tsv: packaging module added
  pyproject.toml
Labels: project-config

tsv: packaging module added
  CONTRIBUTING.md
Labels: none

tsv: sniffing added
  src/hckr/cli/data.py
  src/hckr/utils/DataUtils.py
  src/hckr/utils/FileUtils.py
  tests/cli/data/test_faker.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/TabSep.tsv
Labels: tests, enhancement, data

tsv: sniffing added
  src/hckr/utils/DataUtils.py
  tests/cli/data/test_peek.py
Labels: tests, enhancement

tsv: text support added
  src/hckr/utils/DataUtils.py
  src/hckr/utils/FileUtils.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/input.txt
  tests/cli/resources/data/peek/simple.text
Labels: tests, enhancement

tsv: text support added
  src/hckr/cli/data.py
  src/hckr/utils/FileUtils.py
Labels: enhancement, data

Update src/hckr/cli/data.py
  src/hckr/cli/data.py
Labels: enhancement, data

Support for TSV and TEXT files (#48)
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  src/hckr/__about__.py
  src/hckr/cli/__init__.py
  src/hckr/cli/data.py
  src/hckr/utils/DataUtils.py
  src/hckr/utils/FileUtils.py
  tests/cli/data/test_faker.py
  tests/cli/data/test_peek.py
  tests/cli/resources/data/peek/TabSep.tsv
  tests/cli/resources/data/peek/input.txt
  tests/cli/resources/data/peek/simple.text
Labels: project-config, tests, enhancement, release, data

TAG[0.2.5] created, Bumping version: [0.2.5 → 0.2.6.dev0]
  src/hckr/__about__.py
Labels: enhancement, release

release-template: added
  .github/release.yml
Labels: github-actions

release-template: added
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: github-actions

release-template: added
  .github/release.yml
Labels: github-actions

release-template: added (#52)
  .github/release.yml
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: github-actions

TAG[0.2.6.dev0] created, Bumping version: [0.2.6.dev0 → 0.2.6.dev1]
  src/hckr/__about__.py
Labels: enhancement, release

release-template: added
  .github/release-drafter-template.yml
  .github/release.yml
  .github/workflows/release-drafter.yml
Labels: github-actions

release-template: added
  .github/workflows/release-drafter.yml
Labels: github-actions

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

project-config:
- changed-files:
  - any-glob-to-any-file: pyproject.toml

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/**

enhancement:
- changed-files:
  - any-glob-to-any-file: src/**

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

fix:
 - head-branch: ['^fix', 'fix']

release:
- changed-files:
  - any-glob-to-any-file: src/hckr/__about__.py

crypto:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/crypto/**

cron:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/cron.py

data:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/data.py

hash:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/hash.py

utils:
- changed-files:
  - any-glob-to-any-file: src/hckr/cli/utils/**
